* {
  margin: 0;
  padding: 0;
}

.products-box {
  border: 1px solid black;
  height: 400px;
  margin: 1%;
  padding: 1.5%;
}

.products-list {
  list-style: none;
  width: auto;
}

.list-item {
  display: flex;
}
