* {
  margin: 0;
  padding: 0;
}

html {

  @media ( max-width : 1080px ) {
    font-size: 93.75%;

    /* 15px */
  }

  @media ( max-width : 720px ) {
    font-size: 87.5%;

    /* 14px */
  }
}

body, input, textarea, button {
  font-family: Roboto , sans-serif;
  font-weight: 400;
}


button, select {
  cursor: pointer;
}


span {
  color: black;
}

.main-box {
  background-color: #fbfffe;
  border: 1px solid #b1c2be;
  box-shadow: 0 2px 4px 0 #b1c2be , 0 3px 4px 0 #b1c2be;
  height: auto;
  margin: 1%;
  padding: 1.5%;

}

.products-header {
  align-items: stretch;
  display: flex;
  width: 100%;
}

h3 {
  font-size: 28px;
  margin: 15px;
}

table {
  border-spacing: 0 10px;
  width: 100%;
}

th {
  font-size: 20px;
}

td {
  padding: 5px;
}

.item-header {
  width: 5%;
}

.description-header {
  width: auto;
}

.quantity-header {
  width: 10%;
}

.price-header {
  width: 15%;
}

.sub-total-header {
  width: 15%;
}

.remove-header {
  width: 15%;
}

.products-list {
  list-style: none;
  width: auto;
}

.list-item {
  display: flex;
}

.total-box-container {
  display: flex;
  justify-content: flex-end;
}

.item-box {
  background-color: #2fc18c;
  border-radius: 15px 0 0 15px;
  color: #001813;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.description-box {
  background-color: #dfe7e5;
  color: #001813;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-indent: 20px;
}

.price-box {
  background-color: #421981;
  color: #f2fffc;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.quantity-box {
  background-color: #036b52;
  color: #f2fffc;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.subtotal-box {
  background-color: #056cf9;
  color: #f2fffc;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.remove-button {
  border-radius: 0 15px 15px 0;
  display: table-cell;
  font-size: 28px;
  font-weight: 500;
  height: auto;
  justify-content: center;
  line-height: 42px;
  margin: 0;
  text-align: center;
}

.remove-button:hover {
  font-weight: 800;
}

.total-box {
  align-items: center;
  background-color: #036b52;
  border-radius: 10px;
  color: #f2fffc;
  display: flex;
  font-size: 48px;
  font-weight: 500;
  height: 70px;
  justify-content: center;
  line-height: 42px;
  margin-top: 70px;
  padding: 5px;
  width: 350px;
}
