.Counter__div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 0;
}

.Counter__input {
  border: 1px solid #000000;
  font-size: large;
  height: 2rem;
  text-align: center;
  width: 2rem;
}

.Counter__button {
  background-color: #036b52;
  border-style: none;
  color: #F2FFFC;
  font-size: larger;
  height: 2.15rem;
  transition: opacity 0.2s;
  width: 2.15rem;
}

.Counter__button:active {
  opacity: 0.5;
}

.Counter__button,
.Counter__input {
  margin: 0;
  padding: 0;
}

.Counter__button.--right {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 0%;
  border-top-right-radius: 25%;
}

.Counter__button.--left {
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 25%;
  border-top-right-radius: 0%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
