.Counter__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.Counter__input {
  text-align: center;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid black;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Counter__button {
  height: 1.65rem;
  width: 1.65rem;
  border: none;
  background-color: #036B52;
  color: #F2FFFC;
  font-size: larger;
  transition: opacity 0.1s;
}

.Counter__button.--right {
  border-bottom-right-radius: 25%;
  border-top-right-radius: 25%;
}

.Counter__button.--left {
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
}

.Counter__button:active {
  opacity: 0.5;
}
