button {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  line-height: 33px;
  margin: 1px;
  margin-top: 15px;
  text-align: center;
  width: 230px;
}

.primary-button {
  background-color: #036b52;
  color: #f2fffc;
}

.secondary-button {
  background-color: #2fc18c;
  color: #f2fffc;
}

.tertiary-button {
  border: 2px solid #036b52;
  box-sizing: border-box;
  color: #036b52
}

button:hover {
  font-weight: 700;
}
