button {
  border-style: none;
  border-radius: 0%;
  cursor: pointer;
  color: #ffffff;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s;
}

button:active {
  opacity: 0.5;
}

.Navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #036B52;
  top: 0;
  width: 100%;
}


.Navbar__buttons--exit--username {
  display: flex;
  justify-content: center;
  align-items: center;

}

.Navbar__button--home,
.Navbar__button--items {
  background-color: #036B52;
  width: fit-content;
}

.Navbar__button--username {
  background-color: #421981;
  width: 5rem;
}

.Navbar__button--exit {
  background-color: #056cf9;
  width: 3rem;
}

.Navbar__button--exit,
.Navbar__button--username {
  height: 3rem;
}
