.primary-button {
  align-items: center;
  background-color: #036b52;
  border-radius: 5px;
  bottom: 0%;
  color: #f2fffc;
  display: flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  height: 59px;
  left: 0%;
  line-height: 32.81px;
  margin: 1px;
  position: absolute;
  right: 0%;
  text-align: center;
  top: 0%;
  width: 332px;
}

