.description-box {
  align-items: center;
  background-color: #dfe7e5;
  color: #001813;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  justify-content: flex-start;
  line-height: 42px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  text-indent: 20px;
  width: 45%;
}
